html,
body {
    height: 100%;
    /*font-family: 'FuturaStd-Medium';*/
   /* src : url('FuturaStd-Medium.otf')*/
   font-family: 'Futuraindosat';
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    


}

.wrap > .container >.breadcrumb {
   background-color: #e10006;
      
}

.wrap > .container >.breadcrumb li{
   color: white;
   font-size: 50px;
   
}


.footer {
    height: 60px;
    /* background-color: #f5f5f5;*/
    background-color: #e10006;
    border-top: 1px solid #ddd;
    padding-top: 20px;

}

.footer > .container {
    color: white;

}

a.footer{
    color: blue;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.my-navbar {
    background-color: white;

}

.my-navbar .navbar-nav > .active > a, .my-navbar .navbar-nav > .active > a:hover, .my-navbart .navbar-nav > .active > a:focus {
    background-color: white;
    color: #e10006;
} 

.my-navbar .navbar-nav > .active > a{
     background-color: #e10006;
    color: white;
}

.navbar .nav > li > a, .navbar .nav > li > a{
color:          #e10006;

text-shadow:    none;
}

.navbar .nav > li > a, .navbar .nav > li > a:hover{
color:          #e10006;
text-shadow:    none;
}

@font-face {
    font-family: 'Futuraindosat';
    src: url('FuturaStd-Medium.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}

.footer-bokeh {
    width: 100%;
    height: 167px;
    margin-top: -155px;
    background: transparent url(../images/footer-bokeh.png) bottom center repeat-x;
}